.about{
    font-family: 'Courier New', Courier, monospace;
}
.logo span{
    font-size:xx-large;
    font-weight: 500;
    color: red;
}



.sub-heading3{
color: #ffe7b1 ;

}
.sub-heading2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

.header {
  position: fixed;         /* Keep header on top */
  width: 100%;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
  backdrop-filter: blur(10px);                /* Blur the background behind */
  -webkit-backdrop-filter: blur(10px);        /* Safari support */
  z-index: 1000;
}